@charset "UTF-8";

*{
    margin: 12px;
    background-color: #f3f0f0;
    
}
img{
    width: 4.8%;
    height: 4.8%;
    text-align: left;
    
}

h1{
    text-align: center;
    font-size: 2.1em;
    font-weight: 600;
    background-color: #e3d6ebcb;
}
h2{
    background-color: #b6bac78e;
    padding:2px;
}
hr{
    height: 2px;
    margin: 0px;
    background-color: black;
}
p#dados{
    text-align: center;
    font-size: 0.9em;
}
p.subt{
    font-weight:bolder;
    font-size:1em;
    padding:2px;
    
}
p{
    padding:2px;
}

a{
    color: rgba(34, 34, 233, 0.616);
}